@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-overflow {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }